<%- include('partials/header') %>

<section class="hero">
  <div class="hero-content">
    <h1>Welcome to Razer Store</h1>
    <p>Power. Performance. Precision.</p>
  </div>
</section>


<%- include('partials/footer') %>
